body {
    background: linear-gradient(-135deg, #ee7752, #e73c7e, pink, purple, aqua);
    background-size: 4000% 4000%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}
li::marker {
    content: "";
}

canvas {
    width: 100%;
    height: 100%;
}

.backgroundPic {
    height: 500px;
    box-shadow: 0 0 0 6px #fff, 3px -3px 30px yellow, -3px 3px 30px orange;
    border-radius: 90px;
    animation: circle 3s ease infinite;
}

#registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-30px);
}

#welcome > h1 {
    transform: translateX(-75px);
    font-size: 40px;
}

#registration input {
    display: flex;
    width: 50%;
    margin-bottom: 5px;
    align-items: center;
    border-radius: 5px;
}

#registration input :focus {
    box-shadow: 0 0 0 4px #fff, 3px -3px 30px #1beabd, -3px 3px 30px #10abff;
    background-color: #1beabd;
}

.registrationH1 {
    margin-left: 20%;
    font-size: 25px;
    font-style: italic;
}

.registrationP {
    transform: translateX(180px);
    font-weight: bold;
}

#welcome {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#welcome h1 {
    text-shadow: 0 0 15px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px blue,
        0 0 20px blue, 0 0 20px blue, 0 0 25px yellow, 0 0 30px yellow;
    color: white;
}
.welcomeImg {
    width: 80%;
    object-fit: cover;
    transform: translateX(5%);
    border-radius: 50px;
}
#welcomeDiv {
    transform: translate(-40px, 10px);
}
/* .LoogedInForm {
    margin-top: 40px;
    margin-bottom: 30px;
} */
/* 、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、 */
.LoogedInForm {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 30px;
    margin-bottom: 15px;
    /* transform: translate(-50%);
    left: 50%; */
    margin-top: 10px;
    transform: translate(30px, 18px);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px yellow,
        0 0 20px yellow, 0 0 20px yellow, 0 0 25px yellow, 0 0 30px yellow;
}

.LoogedInForm:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.LoogedInForm:active {
    color: #000;
}

.LoogedInForm:active:after {
    background: transparent;
}

.LoogedInForm:hover:before {
    opacity: 1;
}

.LoogedInForm:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.bioText {
    width: 970px;
    height: 10px;
    border: none;
    outline: none;
    color: wheat;
    font-weight: bolder;
    background: white;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    font-size: 1px;
    margin-bottom: 30px;
    /* transform: translate(-50%);
    left: 50%; */
    margin-top: 10px;
    font-family: Comic Sans MS;

    opacity: 0.8;
    display: block;
    transform: translate(20px, 20px);
}

/* .bioText:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.bioText:active {
    color: white;
}

.bioText:active:after {
    background: transparent;
}

.bioText:hover:before {
    opacity: 1;
}

.bioText:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 10px;
} */
.bioText:hover {
    height: 300px;
    font-size: 30px;
    word-wrap: break-word;

    box-shadow: 0 0 0 10px white, 3px -3px 30px yellow, -3px 3px 30px pink;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* 、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、 */

/* .LoogedInForm :hover {
    color: red;
    box-shadow: 0 0 0 4px #fff, 3px -3px 30px orange, -3px 3px 30px yellow;
    border: 5px solid pink;
    border-radius: 30px;
} */
/* .appDiv {
    display: flex;
} */
.appProfileDiv {
    position: absolute;
}

.appProfileDiv img {
    transform: translate(300px, 20px);
}

.appDiv img {
    height: 200px;
    width: 200px;
    object-fit: fill;
    display: block;
    margin-bottom: 20px;
}

.profilePicDiv img {
    height: 30px;
}
.uploaderDiv {
    background-color: orchid;
    display: block;
    margin-bottom: 20px;
    width: 30%;
    /* background-color: yellow; */
    /* left: 30%; */
    height: 500px;
    color: #ffffff;
    width: 500px;
    float: left;
    transform: translate(-530px, -15px);
    opacity: 0.8;
}

.uploaderX {
    position: absolute;
    left: 95%;
    color: white;
    display: block;
    font-size: 25px;
    transform: translate(-10px, 5px);
}

.uploaderDivP {
    position: absolute;
    margin-bottom: 20px;
    margin-top: 5px;
    left: 2%;
    transform: translate(75px, 30px);
    font-weight: bolder;
    font-size: 25px;
}

.uploaderDiv form {
    position: absolute;
    top: 35%;
    left: 2%;
    transform: translate(65px, -40px);
}
.uploaderDiv form input {
    margin-bottom: 5px;
}

.profilePicImg {
    position: absolute;
    height: 20%;
    /* margin-left: 100%; */
}
.profileDiv {
    margin-top: 20%;
}
.profileDiv img {
    height: 500px;
    margin-left: 0%;
    width: 500px;
    object-fit: fill;
    /* transform: translate(250px, -350px); */
}
/* .bioText {
    transform: translateY(75px);
    border-radius: 20px;
    box-shadow: 0 0 0 5px yellow, 3px -3px 30px white, -3px 3px 30px aqua;
    height: 300px;
    width: 900px;
    color: blue;
    background-color: aqua;
    font-size: 40px;
    font-family: Brush Script MT;
} */
.bioEditorDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-left: 50%;
    transform: translate(580px, -545px);
}
.bioEditorDivButton {
    display: flex;
    width: 1000px;
    justify-content: space-around;
}
.bioEditorDivButton button {
    background-color: wheat;
    color: darkgray;
    font-weight: bolder;
}
.bioEditorDivButton button:hover {
    color: black;
}

/* .bioEditorDiv button {
    height: 30px;
    margin-bottom: 20px;
    display: block;
    border: 3px solid white;
}
.bioEditorDiv button:hover {
    color: red;
    box-shadow: 0 0 0 4px #fff, 3px -3px 30px orange, -3px 3px 30px yellow;
    border: 5px solid pink;
    border-radius: 30px;
} */
.findPeopleDiv {
    position: absolute;
    margin-left: 40%;
    transform: translate(-50px, -290px);
}
.findPeopleDiv input {
    border: 5px solid white;
    border-radius: 20px;
    width: 300px;
    height: 30px;
    transform: translateX(40px);
    background: transparent;
}
.findPeopleDiv input:focus {
    box-shadow: 0 0 0 4px #fff, 3px -3px 30px white, -3px 3px 30px white;
}

.findPeopleLiP {
    transform: translate(0px, 15px);
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 0px;
}
.findPeopleLiPP {
    /* transform: translate(50px, -10px); */
    font-size: larger;
    font-weight: bolder;
}

.findPeopleLiP:hover {
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px yellow,
        0 0 20px yellow, 0 0 20px yellow, 0 0 25px yellow, 0 0 30px yellow;
}
.findPeopleImg {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-top: 30px;
    transform: translate(0px, 14px);
}
.findPeopleImg:hover {
    box-shadow: 0 0 0 4px #fff, 3px -3px 30px orange, -3px 3px 30px yellow;
}
.findPeopleSearcher {
    display: flex;
    justify-content: space-around;
    transform: translate(-55px, 20px);
    width: 500px;
    margin-bottom: 40px;
}
.OtherProfileImg {
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.otherPeopleDiv {
    position: absolute;
    transform: translate(45%, 0px);
}
.otherProfileButton button {
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 40px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    width: 150px;
    height: 35px;
    transform: translate(550px, -660px);
    margin-right: 10px;
}

.otherProfileButton button:hover {
    box-shadow: 0 0 0 5px pink, 3px -3px 30px orchid, -3px 3px 30px white;
    background-color: pink;
}

.otherPeopleDiv div {
    transform: translate(394px, -572px);
}

.otherPeopleDiv img {
    height: 600px;
    margin-left: 50%;
    width: 600px;
    object-fit: fill;
    opacity: 0.4;
}
.otherPeopleDivDiv {
    margin-left: -15%;
    margin-top: -20%;
    border: 10px solid pink;
    border-image-source: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/hearts-border-image.png);
    border-image-slice: 20 22;
    border-image-repeat: round;
    width: 600px;
    height: 600px;
    color: purple;

    font-size: 40px;
    font-family: Comic Sans MS;
    border-radius: 20px;
    padding: 5px;
}
#otherPeopleDivName {
    /* background-color: white; */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px yellow,
        0 0 20px yellow, 0 0 20px yellow, 0 0 25px yellow, 0 0 30px yellow;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    transform: translate(298px, -690px);
}

#friendButtonDiv {
    transform: translate(0px, 30px);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------->hobby */
.hobbyFieldset {
    transform: translate(900px, -490px);
}
.hobbyButton {
    transform: translate(900px, -450px);
}
#selectFromHobbiesUl {
    display: flex;
    transform: translate(-40px, 20px);
}
#selectFromHobbiesUl button {
    background-color: transparent;
    transform: translateX(80px);
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    width: 60px;
    height: 60px;
    font-size: 15px;
    font-weight: bolder;
    margin-right: 10px;
    text-align: center;
}
#selectFromHobbiesUl button:hover {
    width: 75px;
    height: 75px;
    font-size: 20px;
    border: 5px dotted wheat;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px wheat,
        0 0 20px wheat, 0 0 20px wheat, 0 0 25px wheat, 0 0 30px wheat;
}

#selectFromHobbiesUl li::marker {
    content: "";
}
.albumUl {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.albumUl li::marker {
    content: "";
}
.clicked {
    opacity: 0.5;
}
/* -------------------------------------------------------------------------------------------------------------------------------------special button  */
.btn-two {
    color: black;
    transition: all 0.5s;
    position: relative;
    height: 40px;
    width: 120px;
    transform: translate(-10px, 5px);
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
}
.btn-two span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 200%;
    height: 200%;
}
.btn-two::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid yellow;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}
.btn-two::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid yellow;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}
.btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255, 255, 255, 0);
}
.btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 0);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------special Border  */
#box {
    border: 20px solid pink;
    border-image-source: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/hearts-border-image.png);
    border-image-slice: 20 22;
    border-image-repeat: round;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------Description of Pic in Album  */
.descriptionInPicAlbum {
    width: 200px;
    height: 200px;
    overflow-wrap: break-word;
    transform: translate(0px, -222px);
    background-color: orange;
    opacity: 0;
    position: absolute;
    z-index: 10;
}

.descriptionInPicAlbum:hover {
    width: 200px;
    height: 200px;
    overflow-wrap: break-word;
    transform: translate(0px, -222px);
    background-color: wheat;
    opacity: 0.7;
    position: absolute;
}
.descriptionInput:focus {
    height: 100px;
    width: 400px;
    overflow-wrap: break-word;
    border: 4px dotted pink;
    color: white;
    font-weight: bolder;
    font-size: 25px;
}
.descriptionInput {
    width: 250px;
    overflow-wrap: break-word;
    color: white;
}
.albumForm {
    display: inline;
    position: absolute;
    left: 260px;
    top: 100px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    flex-direction: column;
    width: 300px;
    height: 200px;
    transform: translate(60px, 10px);
}
.albumForm div {
    font-weight: bolder;
    color: white;
    font-size: large;
}
.albumForm button {
    background-color: transparent;
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    width: 50px;
    height: 30px;
}
.albumForm button:hover {
    box-shadow: 0 0 0 2px #fff, 3px -3px 30px yellow, -3px 3px 30px orange;
    font-weight: bolder;
}

.albumForm textarea {
    border: 2px solid pink;

    background-color: transparent;
    font-size: 15px;
}

.deletePicAlbum {
    display: block;
}
.deletePicAlbum {
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    width: 100px;
    height: 30px;
}
.deletePicAlbum:hover {
    box-shadow: 0 0 0 5px pink, 3px -3px 30px orchid, -3px 3px 30px white;
    font-weight: bolder;
}

.followersNone {
    display: none;
}
.followers {
    display: block;
}
.followrs {
    background-color: wheat;
    opacity: 0.8;
}

#btn3 {
    box-sizing: border-box;

    appearance: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;

    /* display: flex; */

    align-self: center;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1;
    margin-right: 10px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
#btn3:hover,
#btn3:focus {
    color: #fff;
    outline: 0;
}

#btn3 {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
#btn3:hover {
    box-shadow: 0 0 40px 40px orchid inset;
}

#btn4 {
    box-sizing: border-box;

    appearance: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;

    /* display: flex; */

    align-self: center;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1;
    /* margin: 20px; */
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
#btn4:hover,
#btn4:focus {
    color: #fff;
    outline: 0;
}

#btn4 {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
#btn4:hover {
    box-shadow: 0 0 40px 40px aqua inset;
}

.appDivForButton {
    display: flex;
}

.appDivForTransform {
    transform: translate(20px, 10px);
}

.hr1 {
    border: none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid orange;
    box-shadow: 0 20px 20px -20px yellow;
}

.hr2 {
    border: none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid rgb(59, 59, 242);
    box-shadow: 0 20px 20px -20px aqua;
}

.hr3 {
    border: none;
    height: 20px;
    width: 80%;
    height: 50px;
    border-bottom: 1px solid wheat;
    box-shadow: 0 20px 20px -20px white;
    transform: translateX(-30%);
}

.divForFriendbutton {
    position: absolute;
    transform: translate(220px, -290px);
}
.divForFriendbutton button {
    margin-right: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bolder;
}
.divForFriendbutton button:hover {
    box-shadow: 0 0 0 2px #fff, 3px -3px 30px white, -3px 3px 30px white;
}

.textareaFromEditor {
    transform: translate(-210px, -300px);
    position: absolute;
}
.textareaFromEditor textarea {
    height: 200px;
    width: 500px;
    border: 20px solid pink;
    border-image-source: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/hearts-border-image.png);
    border-image-slice: 20 22;
    border-image-repeat: round;
    background-color: transparent;
    font-size: 25px;
    color: wheat;
    opacity: 0.7;
}
.buttonFromEditor {
    background-color: transparent;
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    width: 50px;
    height: 30px;
}
.buttonFromEditor:hover {
    box-shadow: 0 0 0 2px #fff, 3px -3px 30px yellow, -3px 3px 30px orange;
    font-weight: bolder;
}
#cancelFriendship:hover {
    color: red;
    background-color: white;
}

#pLinkToProfile {
    width: 200px;
    position: absolute;
    height: 200px;
    transform: translate(20px, 5px);
    background-color: white;
    opacity: 0;
}
.friendsAlbumHeader {
    transform: translate(45%, 10%);
}
.friendsAlbumHeader div {
    margin-bottom: 6px;
    font-size: 30px;
    font-weight: bolder;
    color: wheat;
    transform: translateX(-3%);
}
.unlikeSymbol {
    width: 200px;
    background-color: wheat;
    opacity: 0.6;
    border: none;
    border-radius: 20px;
}
.likeSymbol {
    width: 200px;
    background-color: wheat;
    opacity: 1;
    border: none;
    border-radius: 20px;
}
#configuration {
    transform: translate(220px, -268px);
}

.hobbyFieldset {
    width: 350px;
    height: 350px;
    position: absolute;
    transform: translate(400px, -300px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px dotted wheat;
}

.hobbyFieldset legend {
    font-size: 25px;
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 15px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px blue,
        0 0 20px blue, 0 0 20px blue, 0 0 25px yellow, 0 0 30px yellow;
}
.hobbyFieldset label {
    font-size: 20px;
    font-weight: bolder;
    color: wheat;
}
.hobbyFieldset label:hover {
    font-size: 22px;
    color: white;
    text-shadow: 0 0 15px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px blue,
        0 0 20px blue, 0 0 20px blue, 0 0 25px yellow, 0 0 30px yellow;
}
.findPeopleSearcher button {
    background-color: transparent;
    transform: translateX(80px);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 40px;
    font-size: larger;
    font-weight: bolder;
}
.findPeopleSearcher button:hover {
    width: 250px;
    border-radius: 20px;
    text-shadow: 0 0 15px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px blue,
        0 0 20px blue, 0 0 20px blue, 0 0 25px yellow, 0 0 30px yellow;
}

.savehobby {
    transform: translate(710px, 0px);
    background-color: transparent;
    margin-top: 5px;
    border: 2px solid green;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 20px;
    color: green;
    width: 40px;
    height: 40px;
    text-align: center;
}
.savehobby:hover {
    box-shadow: 0 0 0 4px #fff, 3px -3px 30px #1beabd, -3px 3px 30px #10abff;
    font-size: 30px;
    width: 50px;
    height: 50px;
}
.savehobby1 {
    transform: translate(670px, 10px);
    background-color: transparent;
    margin-top: 5px;
    border: 2px solid green;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: green;
    width: 100px;
    height: 30px;
    text-align: center;
}
